<div class="container">
    
    <div class="row">

        <section class="col-3">
           
           <div class="card" style="background-color:cadetblue; border-color:darkblue;">
                <div class="card-body">
                <h2 class="card-title">Brands</h2>
                <ul class="list-group">
                    
                    
                    <li class="list-group-item active" style="background-color: rgb(0, 102, 255);" aria-current="true">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                  </ul>
               
                  <h2 class="card-title">Types</h2>
                <ul class="list-group">
                    
                    
                    <li class="list-group-item active" style="background-color: rgb(0, 102, 255);" aria-current="true">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                  </ul>
            
            </div>
                
           
            </div>
            
            
        </section>
      
        <section class="col-9">
            Main Content
        </section>

    </div>

</div>