<!-- Define the recursive template. -->



	


<ng-template #nodeTemplateRef let-node="node">
	
	<div class="main" style="width:300px">
	
	
	<!-- <div class="node" [class.node--selected]="( node === selectedTreeNode )"></div>  -->
	
		
		<!-- <a (click)="selectNode( node )" class="node__label">
			{{ node.id }}
		</a> 
		 -->
			
				
						<!-- <a (click)="selectNode( node )" class="node__label">

							
						</a>  -->
				<tr>				
						<td style="width:50px ">{{node.id}}</td>	
						<td style="width:300px ">{{node.key}}</td>
					
						
				
				</tr>	
		
		
		<div *ngIf="node.children.length" class="node__children" > <!--  -->
 
			<ng-template ngFor let-child [ngForOf]="node.children">
 
				<!-- Invoke the recursive template. -->
				<ng-template [ngTemplateOutlet]="nodeTemplateRef"[ngTemplateOutletContext]="{ node: child }">
					
					<!--
						Because we are using nested ngTemplates (rather than the template
						input of the ngFor directive), we have more control over how the
						data is made available to the recursive template. In this case,
						we're passing "child" through as "node".
					-->
				</ng-template>
 
			</ng-template>
 
		</div>
 
	</div>	
 
</ng-template>

 
<!-- Initiate the recursive template rendering. -->
<div class="body"></div>
<table class='table table-striped' aria-labelledby="tableLabel">
	
		<thead>
			
			  <th  style="width:50px">Id </th>
			  <th style="width:300px">Name</th>
			
		  </thead>	
		  <tbody>
			<ng-template  [ngTemplateOutlet]="nodeTemplateRef" [ngTemplateOutletContext]="{ node: data }">
	
	
			</ng-template>
		  </tbody>

	
	 
	
</table>





<p class="note">
	<em>(alternative) Ng-Template Template Rendering</em>
</p>

