<h1>Projects</h1>
<div class="row">
  <div class="col-8 mx-auto">
    <button class="btn btn-primary" data-toggle="modal" (click)="onEditClick($event,project.id,'insert')" data-target="#newModal">Create Project</button>
    <table class="table">
      <thead>
        <th>Project ID</th>
        <th>Project Name</th>
        <th>Date of Start</th>
        <th>Team Size</th>
        <th>Action</th>
      </thead>
      <tbody>
        <tr *ngFor="let project of this.projects">
          <td>{{project.id}}</td>
          <td>{{project.name}}</td>
          <td>{{project.startingDate |  date:'dd/MM/yyyy'}}</td>
          <td>{{project.teamSize}}</td>
          <td> <button class="btn btn-info" (click)="onEditClick($event,project.id,'update')" data-toggle="modal" data-target="#newModal"> Edit</button>
            <button class="btn btn-danger" (click)="onEditClick($event,project.id,'delete')" id="test" data-toggle="modal" data-target="#newModal"> Delete</button> </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<form >
  <div class="modal" role="dialog" id="newModal">
    <div class="modal-dialog">
      <div class="modal-content" style="width:700px">
        <div class="modal-header">
          <div  #model  class="modal-title">New Project</div>
          <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
        </div>
        <div class="modal-body">

          <!-- <div class="form-group row">
            <label for="txtNewProjectID" class="col-sm-4 col-form-label">Project ID</label>
            <div class="col-sm-8">
              <input type="number" id="txtNewProjectID" style="width:100px" class="form-control" placeholder="Project ID"
                name="ProjectID" [(ngModel)]="newProject.id">
            </div>
          </div> -->

          <div class="form-group row">
            <label for="txtNewProjectName" class="col-sm-4 col-form-label">Project Name</label>
            <div class="col-sm-8">
              <input  #project type="text" id="txtNewProjectName" class="form-control" placeholder="Project Name"
                name="ProjectName" [(ngModel)]="newProject.name">
            </div>
          </div>

          <div class="form-group row">
            <label for="txtNewDateOfStart" class="col-sm-4 col-form-label">Date of Start</label>
            <div class="col-sm-8">
              <input #date type="date" id="txtNewDateOfStart" style="width:200px" class="form-control"
                placeholder="Date of Start" name="DateOfStart"[ngModel]="newProject.startingDate | date:'yyyy-MM-dd'"
                (ngModelChange)="newProject.startingDate = $event" >
            </div>
          </div>

          <div class="form-group row">
            <label for="txtTeamSize" class="col-sm-4 col-form-label">Team Size</label>
            <div class="col-sm-8">
              <input #team type="number" id="txtTeamSize" style="width:150px" class="form-control" placeholder="Team Size"
                name="TeamSize" [(ngModel)]="newProject.teamSize">
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button  class="btn btn-warning" data-dismiss="modal">Cancel</button>
          <button  #save class="btn btn-success" data-dismiss="modal" (click)="onSaveClick()">Save</button>
        </div>
      </div>
    </div>
  </div>
</form>


