<nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLinkActive='active' routerLink='/home'>Bab ALSaray</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <ng-container *ngIf="accountService.currentUser$ | async">
          <li class="nav-item">
            <a class="nav-link" routerLink='/home' routerLinkActive='active'>Home</a> <!-- active is bootstrap class -->
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink='/dbaccounts'>Accounts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink='/shop'>Shop</a>
          </li>
        </ng-container>
        <li>
          <a class="nav-link" routerLink='/errors'>Errors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='/dashboard'>Orders</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='/projects'>Projects</a>
        </li>
      </ul>


      
     




      <!-- <form *ngIf="(accountService.currentUser$ | async) === null" #loginForm='ngForm' class="form-inline mt-2 mt-md-0" (ngSubmit)="login()" autocomplete="off">
          <input
           name="username"
          [(ngModel)]="model.username"
            class="form-control mr-sm-2"
           type="text"
           placeholder="Username">

           <input
            name="password"
            [(ngModel)]="model.password"
            class="form-control mr-sm-2"
            type="password"
            placeholder="Password">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
       
       
        
        </form> -->
    </div>

  </div>

  <div class="d-flex align-items-center">
    <ng-container *ngIf="currentUser$ | async; else elseBlock">
      <div>
        <div class="dropdown ml-3 mr-5" *ngIf="(accountService.currentUser$ | async) as user" dropdown>
          <a class="dropdown-toggle text-light" dropdownToggle> <strong> Welcome {{user.username | titlecase}} </strong> </a>
          <div class="dropdown-menu mt-auto" *dropdownMenu>
            <a routerLink="/basket" class="dropdown-item d-flex align-items-center py-2">
              <i class="fa fa-shopping-cart mr-3"></i> View Basket
            </a>
            <a routerLink="/orders" class="dropdown-item d-flex align-items-center py-2">
              <i class="fa fa-history mr-3"></i> View Orders
            </a>
            <div class="divider dropdown-divider"></div>
            <a class="dropdown-item d-flex align-items-center py-2" (click)="logout()">
              <i class="fa fa-sign-out mr-3"></i> Logout
            </a>
          </div>
  
        </div>
      </div>
    </ng-container>
    <ng-template #elseBlock>
      <a routerLink="/account/login" class="btn btn-outline-success mr-2">Login</a>
      <a routerLink="/account/register" class="btn btn-outline-info mr-2">SignUp</a>
    </ng-template>



    <a routerLink="/basket" class="fa fa-shopping-cart fa-2x" style="font-size: 25px">
      <span *ngIf="(basket$ | async) as basket" class=" lblCartCount badge badge-warning">
        {{basket.items.length}}
      </span>
    </a>
  </div>

</nav>