.container {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
  
  }
  
  .step-navigation-bar {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    color: black;
    
  }
  
  .active {
    color: blue;
    color: black;
  }
  
  .step {
    background: transparent;
    border: 0;
    margin: 0 10px;
    padding: 10px;
    color: black;
    color: black;
  }
  
  .step.example-active {
    color: blue;
    border-bottom: 1px solid blue;
    color: black;
  }
  
  .nav-button {
    background: transparent;
    border: 0;
    color: black;
  }