.nav-link{
    background: #74616b;;
    border-radius: 0;
    border: none;

}


.focus {
    outline: none;
   
}



.nav-link:hover {
color: rgb(0, 47, 255);

}
.nav-link:active{
    outline: none;
 

}
.active:focus {
    outline: none;
    color: rgb(0, 47, 255);

}
.activetab{
    color: white;
    background-color: #772953;
    outline: none;
}




