.nav-link{
    background: black;
    border-radius: 0;
    border: none;

}


.focus {
    outline: none;
   
}



.nav-link:hover {
color: rgb(0, 47, 255);

}
.nav-link:active{
    outline: none;
 

}
.active:focus {
    outline: none;
    color: rgb(0, 47, 255);

}
.activetab{
    color: #df691a;
    background-color: #abb6c2;
    outline: none;
}




